
Podfile.lock
Pods/
core.xcodeproj/xcuserdata/sp086.xcuserdatad/xcschemes/xcschememanagement.plist
core.xcodeproj/xcuserdata/sp086.xcuserdatad/xcschemes/xcschememanagement.plist
core.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
core.xcworkspace/xcuserdata/sp086.xcuserdatad/UserInterfaceState.xcuserstate
core.xcodeproj/xcuserdata/sp086.xcuserdatad/xcschemes/xcschememanagement.plist
