<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510771926949-scl333a8t47flemnsuhjt8ddceub41cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510771926949-scl333a8t47flemnsuhjt8ddceub41cd</string>
	<key>API_KEY</key>
	<string>AIzaSyDfj2mOG5v3lYAy1Ogv15DoLC6MDc4vhqA</string>
	<key>GCM_SENDER_ID</key>
	<string>510771926949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>movie.star</string>
	<key>PROJECT_ID</key>
	<string>movie-video-b2782</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-video-b2782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:510771926949:ios:c2402f680316a82a997a4c</string>
</dict>
</plist>
